*{
    box-sizing: border-box;
}
body{
    background-color: rgb(19, 104, 104);
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Mynerve', cursive;
    font-size: 24px;
}


.container{
    padding: 20px;
    height: 450px;
    width: 480px;
    position: relative;
}

.graphic{
    fill: transparent; /*arka planın rengini aldık*/
    stroke: #fff; /*çizginin rengi*/
    stroke-width: 4px ;
}

/* we hide hangman */
.item{ 
    display: none; 
}

#wrong-letters{
    position: absolute;   
    top: 30px;
    left: 300px;
    
}

#word{
    display: flex;
    position: absolute;
    bottom: -50px; /* positionu relative olandan itibaren  10px (bottom dediğimiz için)aşşağı kısmına göre konumlanıt */
    left: 50%;
    transform: translateX(-50%);
}

#categoryName{
    display: flex;
    position: absolute;
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);
    

}

.letter{
    border-bottom: 4px solid #FF7000;
    font-size: 38px ;
    margin: 0 3px;
    height: 40px;
    width: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#popup-container{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.popup{
    background-color: #96E5D1;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.3);
}

#message{
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 40px;
    position: absolute;
    bottom: -90px;
    transition: transform 0.4s ease-in-out;
}

#message.show{
    transform: translateY(-80px);
}
